[Unit]
Description=ZeroTier One Keep Alive %i
BindsTo=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device zt-network@%i.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/ping6 ff02::1 -I %i -i 45 -s 0 -L -q

[Install]
WantedBy=multi-user.target
