[Unit]
Description=ZeroTier One Network %i
BindsTo=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/zt-net-up %i
ExecStop=/usr/local/bin/zt-net-down %i

[Install]
WantedBy=multi-user.target
